<div class="container">
  <div class="logo">
    <h2 class="title">PomoLIST</h2>
  </div>
  <div class="inputs">
    <div class="divinp">
      <span class="emailtext">Email:</span>
      <input type="email" />
    </div>
    <div class="divinp">
      <span class="passtext">Şifre:</span>
      <input type="password" />
    </div>
  </div>
</div>
