<nav class="navbar">
  <li class="title">PomoList</li>
  <div class="menu">
    <li><a href="#">Yeni Görev Ekle</a></li>
    <li><a href="/user/profile">Profilim</a></li>
    <li><a href="/user/logout">Çıkış Yap</a></li>
  </div>
</nav>
<section>
  <div class="continuetask styletask">
    <div class="task">
      <div class="taskmain">
        <div class="maintext">
          <p class="taskp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
            quae.
          </p>

          <div class="actions">
            <p class="tick">✓</p>
            <p class="cross">X</p>
          </div>
        </div>
        <div class="timeandtour">
          <p class="tours">Tur Sayısı : 5</p>
          <p class="times">Tur Süresi : 60 dk</p>
          <p class="breaktime">Mola Süresi : 10 dk</p>
        </div>
      </div>
      <div class="taskmain">
        <div class="maintext">
          <p class="taskp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
            quae.
          </p>

          <div class="actions">
            <p class="tick">✓</p>
            <p class="cross">X</p>
          </div>
        </div>
        <div class="timeandtour">
          <p class="tours">Tur Sayısı : 5</p>
          <p class="times">Tur Süresi : 60 dk</p>
          <p class="breaktime">Mola Süresi : 10 dk</p>
        </div>
      </div>
      <div class="taskmain">
        <div class="maintext">
          <p class="taskp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
            quae.
          </p>

          <div class="actions">
            <p class="tick">✓</p>
            <p class="cross">X</p>
          </div>
        </div>
        <div class="timeandtour">
          <p class="tours">Tur Sayısı : 5</p>
          <p class="times">Tur Süresi : 60 dk</p>
          <p class="breaktime">Mola Süresi : 10 dk</p>
        </div>
      </div>
    </div>
  </div>
  <div class="countmain">
    <div class="info">
      <h2 class="mission">Lorem ipsum dolor sit.</h2>
      <h2 class="tour">5 . Tur</h2>
    </div>
    <div class="countdown">
      <h2 class="hour">00</h2>
      <span>.</span>
      <h2 class="min">00</h2>
      <span>.</span>
      <h2 class="sec">00</h2>
    </div>
    <button class="start">Başlat</button>
  </div>

  <div class="completetask styletask">
    <div class="taskf">
      <div class="taskmain">
        <div class="maintext">
          <p class="taskp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
            quae.
          </p>

          <div class="actions">
            <p class="cross">X</p>
          </div>
        </div>
        <div class="timeandtour">
          <p class="tours">Tur Sayısı : 5</p>
          <p class="times">Tur Süresi : 60 dk</p>
          <p class="breaktime">Mola Süresi : 10 dk</p>
        </div>
      </div>
      <div class="taskmain">
        <div class="maintext">
          <p class="taskp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
            quae.
          </p>

          <div class="actions">
            <p class="cross">X</p>
          </div>
        </div>
        <div class="timeandtour">
          <p class="tours">Tur Sayısı : 5</p>
          <p class="times">Tur Süresi : 60 dk</p>
          <p class="breaktime">Mola Süresi : 10 dk</p>
        </div>
      </div>
      <div class="taskmain">
        <div class="maintext">
          <p class="taskp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
            quae.
          </p>

          <div class="actions">
            <p class="cross">X</p>
          </div>
        </div>
        <div class="timeandtour">
          <p class="tours">Tur Sayısı : 5</p>
          <p class="times">Tur Süresi : 60 dk</p>
          <p class="breaktime">Mola Süresi : 10 dk</p>
        </div>
      </div>
    </div>
  </div>
</section>
