<style>
  .msg {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
  }
  .failure {
    color: white;
    background-color: red;
  }
  .success {
    color: white;
    background-color: green;
  }
</style>

<% validation_error.forEach(element => { %>
<div class="failure msg" role="alert">
  <strong> <%- element.msg %></strong>
</div>
<% }) %> <% login_error.forEach(error => { %>
<div class="failure msg" role="alert">
  <strong> <%- error %></strong>
</div>
<% }) %> <% success_message.forEach(element => { %>
<div class="success msg" role="alert">
  <strong> <%- element.msg %></strong>
</div>
<% }) %>
